#hamburger {
    width: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 15px;
    right: 30px;
}

.dropdown-container {
     display: inline-flex;
}

.dropdown-button {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-flex;
}

#profile-dropdown {
    width: 35px;
    border-radius: 50%;
}
