.show-page-images{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

.property-show-idx-div{
    width: 45%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 5px;
}

.property-show-image-main{
    width: 100%;
    gap: 5px;
}

.show-page-small-images{
    grid-gap: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
    height: auto;
    width: 50%;
}

.property-show-image-small{
    width: 100%;
}


